.main__project {
  background: #202020;
  padding: 0 75px;
}

.main__project_about {
  display: flex;
  gap: 54px;
}

.main__project_descriptions {
  display: grid;
}

.main__project_subtitle {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  letter-spacing: -0.8px;
}

.main__project_explanation {
  margin: 0 0 110px 0;
  padding: 26px 0 0 0;
  color: #fff;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.main__project_table {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 0 0 101px 0;
}

.main__project_week {
  height: 36px;
  color: #000;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  background-color:#3DDC84;
  text-align: center;
  box-sizing: border-box;
  padding: 9px 0;
}

.main__project_mouth {
  height: 36px;
  color: #fff;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  background-color:#303030;
  text-align: center;
  box-sizing: border-box;
  padding: 9px 0;
}

.main__project_work {
  height: 36px;
  color: #8b8b8b;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: center;
  box-sizing: border-box;
  padding: 14px 0;
}

@media screen and (max-width: 880px) {
  .main__project {
    padding: 0 50px;
  }

  .main__project_table {
    grid-template-columns: 18.23vw 4fr;
  }

  .main__project_about {
    gap: 38px;
  }

  .main__project_explanation {
    margin: 0 0 93px 0;
    padding: 22px 0 0 0;
    font-size: 12px;
    line-height: 18px;
  }

  .main__project_table {
    padding: 0 0 81px 0;
  }

  .main__project_descriptions {
    column-gap: 32px;
  }
} 

@media screen and (max-width: 400px) {
  .main__project {
    padding: 0 18px;
  }

  .main__project_about {
    flex-direction: column;
    gap: 0;
  }

  .main__project_subtitle {
    font-size: 18px;
    line-height: 21.78px;
  }

  .main__project_explanation {
    margin: 0 0 56px 0;
    padding: 16px 0 0 0;
    font-size: 11px;
    line-height: 16px;
  }

  .main__project_table {
    grid-template-columns: 31.25vw 4fr;
    margin-top: 6px;
    padding: 0 0 59px 0;
  }

  .main__project_week {
    height: 35px;
    font-size: 11px;
    line-height: 13.31px;
    padding: 11px 0;
  }

  .main__project_mouth {
    height: 35px;
    font-size: 11px;
    line-height: 13.31px;
    padding: 11px 0;
  }

  .main__project_work {
    height: 35px;
    font-size: 11px;
    line-height: 13.31px;
    padding: 10px 0;
  }
}
