.header {
  width: 100%;
  background-color: #073042;
  padding: 0 30px;
  box-sizing: border-box;
  height: 74px;
}

.header__darkmode {
  background-color: #202020; 
}

.header__logo {
  cursor: pointer;
}

.header__container {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 400px) {
  .header {
    padding: 0 14px;
  }
}
